:root {
    --side_length: 88vmin;
    --clear_button_size: calc(90vmax/8);
    --draw_button_size: calc(90vmax/7);
}

*{ touch-action: none; }

#app {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
}


/* GRID */
#grid_container{
    flex: 4;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(236, 239, 241, 0.2);
}

#grid {
    border: 1px solid white;
    background-color: #ECEFF1;
    box-sizing: border-box;
    display: grid;
    width: var(--side_length);
    height: var(--side_length);
}

#grid .square{
    border: 1px solid white;
    box-sizing: border-box;
}

.marked {
    background-color: #546E7A;
}


/* SIZE INPUT */
#settings {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(236, 239, 241, 0.4);
}

#settings label {
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    text-align: center;
    color: #455A64;
    font-size: 5vmin;
}

input {
    appearance: none;
    box-sizing: border-box;
    border-radius: 10%;
    outline: none;
    opacity: 0.7;
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 5vmin;
}

input:hover, input:active {
    opacity: 1;
}


/* BUTTONS */
button {
    background-color: #263238;
    border: none;
    border-radius: 50%;
    opacity: 0.8;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1rem;
    cursor: pointer;
    font-size: 5vmin;
}

button:hover, button:active {
    opacity: 1;
}

#button_container{
    background-color: #ECEFF1;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#clear_button {
    background-color: white;
    color: #455A64;
    width: var(--clear_button_size);
    height: var(--clear_button_size);
}

#draw_button {
    color: white;
    width: var(--draw_button_size);
    height: var(--draw_button_size);
}

.active {
    background-color: #607D8B;
    opacity: 0.9;
}


/* MEDIA QUERIES */
@media (orientation: portrait) {

    #app {
        flex-direction: column;
        height: 95vh;
        margin: 2.5vh 6vw;
    }

    #button_container {
        flex-direction: row;
    }

    #settings {
        flex-direction: row;
    }
    
    #settings label {
        margin-right: 5%;
    }

    input#grid_size {
        width: 26%;
    }

    #clear_button {
        bottom: calc(25vh - var(--side_length) / 4 - var(--side_length) / 8);
        left: calc(50vw - var(--side_length)/8);
    }
}

@media (orientation: landscape) {

    #app {
        width: 95vw;
        margin: 6vh 2.5vw;
    }

    #button_container{
        flex-direction: column;
        margin-left: 1%;
    }

    #settings {
        flex-direction: column;
    }

    #settings label {
        margin-bottom: 5%;
    }

    input#grid_size {
        width: 60%;
    }
}
